
<div class="task__headers " style="margin:0px 15px -40px; position:relative; font-size:18px;"><span>Sumaryczna ilość nadgodzin w listopadzie:</span>
<span style="font-weight: 500;font-size: 20px;"><%= suma %></span></div>




<table style="width:100%; padding-top:40px;" class="task__container">
    <tr class="task__head">
        <td>Opis</td>
        <td>Klient</td>
        <td>Dzień</td>
        <td>od</td>
        <td>do</td>
        <td>suma</td>
    </tr>

<% for(var i = 0; i < data.length; i++) { %>
    <% var overtime = data[i] %>
    <tr class="task__element">
        <td><%= overtime.Description %></td>
        <td><%= overtime.Client %></td>
        <td><%= overtime.Day %></td>
        <td><%= overtime.Time_from %></td>
        <td><%= overtime.Time_to %></td>
        <td><%= countSummaryTime(
            convertMySQLTimeToMinutes(overtime.Time_from),
            convertMySQLTimeToMinutes(overtime.Time_to),
            overtime.Weekend) %></td>
    </tr>
<% } %>
   
</table>