<div class="task">

<%  console.log(sort) %>

    <table class="task__container" style="border-collapse: collapse; width: 100%;">
    <tr class="task__head">
        <td><input type="checkbox" id="checkboxAll"></td>
        <td onclick="console.log(this.dataset.sort)" data-sort="Title">Zadanie: <i class="mdi mdi-arrow-<%= (sort.name == 'Title') ? ((sort.dir == 'ASC')  ? 'up' : 'down') : ''  %>"> </i></td>
        <td data-sort="Status">Status: <i class="mdi mdi-arrow-<%= (sort.name == 'Status') ? ((sort.dir == 'ASC')  ? 'up' : 'down') : ''  %>"> </i></td>
        <td data-sort="Groups">Grupa: <i class="mdi mdi-arrow-<%= (sort.name == 'Groups') ? ((sort.dir == 'ASC')  ? 'up' : 'down') : ''  %>"> </i></td>
        <td data-sort="Date">Data: <i class="mdi mdi-arrow-<%= (sort.name == 'Date') ? ((sort.dir == 'ASC')  ? 'up' : 'down') : ''  %>"> </i></td>
        <td colspan="2">Akcje: </td>
    </tr>
    <% for (var key in data) { %>
        <% if (data.hasOwnProperty(key)) { %>

            <% var grupa = data[key]; %>
         

                <tr class="task__element" >
                    <td>
                    <span class="checkbox">
                        <input type="checkbox" id="task<%= grupa.id %>">
                        <label for="task<%= grupa.id %>"></label>
                    </span>
                    </td>
                    <td style="max-width:556px;">
                <span class="task__title">
                        <%=  grupa.Title %>
                </span>
                </td>
                <td style="text-align:center;">
                <span >
                    <span class="task__status  <%= grupa.Status == 1 ? "task__status--done" : "task__status--undone"  %>" > 
                    <% var colors = ['red', 'green', '#f0cf02', 'brown']; %>
                    <% var icons = ['emoticon-sad', 'emoticon-cool', 'emoticon-neutral', 'emoticon-poop' ];%>
                        <i style="color:<%= colors[grupa.Status]%>" class="mdi mdi-<%= icons[grupa.Status] %> "></i>
                    </span>
                </span>
                </td>
                <td>
                    <span class="task__group">
                    <%= grupa.Groups %>
                    </span>
                </td>
                <td>
                <span class="task__data">
                    <%= grupa.Date %>
                </span>
                </td>
                <td class="task__edit">
                    <a title="Edytuj zadanie" href="javascript:"><i onclick="editTask(<%= grupa.ID %>,'<%= grupa.Title %>', <%= grupa.Status %>, '<%= grupa.Groups %>');" class="mdi mdi-pencil"></i></a>
                </td>
                <td class="task__delete">
                    <a title="Usuń zadanie" href="javascript:"><i onclick="removeTask(<%= grupa.ID %>,'<%= grupa.Title %>');" class="mdi mdi-delete"></i></a>
                </td>
                </tr>

       
        <% } %>
    <% } %>
    </table>
</div>