<% for (var key in data) { %>
    <% if (data.hasOwnProperty(key)) { %>
        <% var grupa = data[key]; %>

        <div class="profil">
        <div>
            <div class="profil__image">
                <img src="<?php echo $_SESSION['Avatar'] ?>" alt="">
            </div>
            <div class="profil__sectionTitle profil__sectionTitle--name">
                    <span><%=  grupa.FirstName %></span>
                
                    <span><%=  grupa.SecondName %></span>
               </div>
        
        </div>
        
        <div>
            <div class="form profil__data">
                <div class="profil__sectionTitle">Informacje o tobie: <span>   <a title="Edytuj swoje dane" href="javascript:"><i onclick="editUserData('<%= grupa.FirstName %>','<%= grupa.SecondName %>', <%= grupa.Sex %>, '<%= grupa.City %>', '<%= grupa.Job %>');" class="mdi mdi-pencil"></i></a>
            </span></div>
                
                <div class="form__row">
                    <label class="form__label">Płeć: </label>
                    <span><%=  grupa.Sex === 1 ? "Mężczyzna" : "Kobieta" %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Email: </label>
                    <span><%=  grupa.Email %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Zawód: </label>
                    <span><%=  grupa.Job %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Miasto: </label>
                    <span><%=  grupa.City %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Data rejestracji: </label>
                    <span><%=  grupa.RegisterDate %></span>
                </div>
            </div>
            <div class="form profil__data">
                <div class="profil__sectionTitle">Twoje statystyki:</div>
                <div style="width:250px; height:250px; margin: 0 auto;">
                    <canvas id="profilTaskChart"></canvas>
                </div>
            </div>
            </div>
        </div>
    <% } %>
<% } %>