<% for (var key in data) { %>
    <% if (data.hasOwnProperty(key)) { %>
        <% var grupa = data[key]; %>

        <div class="profil">
        <div class="profil__image">
            <img src="<?php echo $_SESSION['Avatar'] ?>" alt="">
        </div>
            <div class="form profil__data">
                <div class="profil__sectionTitle">Informacje o tobie:</div>
                <div class="form__row">
                    <label class="form__label">Imię: </label>
                    <span><%=  grupa.FirstName %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Nazwisko: </label>
                    <span><%=  grupa.SecondName %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Email: </label>
                    <span><%=  grupa.Email %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Miasto: </label>
                    <span><%=  grupa.City %></span>
                </div>
                <div class="form__row">
                    <label class="form__label">Data rejestracji: </label>
                    <span><%=  grupa.RegisterDate %></span>
                </div>
            </div>
        </div>
    <% } %>
<% } %>